Repository w3c/csswg-drafts, pull requests merged in 2018-11, with the labels that each got.

#3247 [css-transforms-2] Fix clamping of product
  css-transforms-2/Overview.bs
Labels: css-transforms-2

#3279 [Selectors4] Add a missing space
  selectors-4/Overview.bs
Labels: selectors-4

#3215 [css-transforms-1] Specify the "pad, interpolate prefix, then smoosh" interpolation behavior
  css-transforms-1/Overview.bs
Labels: css-transforms-1

#3291 [css-transforms] [web-animations-1] csswg github
  css-transforms-1/Overview.bs
  css-transforms-2/Overview.bs
  web-animations-1/Overview.bs
  web-animations-2/Overview.bs
  web-animations-css-integration/Overview.src.html
Labels: css-transforms-1, web-animations-1

#3295 [css-sizing-4] Typo: s/as tall as it is high/as tall as it is wide/
  css-sizing-4/Overview.bs
Labels: css-sizing-4

#3301 [css-images] optimizeQuality behaves like smooth
  css-images-3/Overview.bs
Labels: css-images-3

#3202 [css-text-3] Disentangle content language and writing system
  css-fonts-4/Overview.bs
  css-text-3/Overview.bs
Labels: css-fonts-4, css-text-3

#3324 Migrate spatial navigation
  css-nav-1/Overview.bs
  css-nav-1/explainer.md
  css-nav-1/images/navbeforescroll-example-1.png
  css-nav-1/images/navbeforescroll-example-2.png
  css-nav-1/images/navnotarget-example-1.png
  css-nav-1/images/navnotarget-example-2.png
  css-nav-1/images/processing-model-basic.png
  css-nav-1/images/spatnav-enable-small.png
  css-nav-1/images/spatnav-enable.png
  css-nav-1/images/spatnav-scroll-invisible-1.png
  css-nav-1/images/spatnav-scroll-invisible-2.png
  css-nav-1/images/spatnav-scroll-invisible-3.png
  css-nav-1/images/spatnav-scroll-invisible-4.png
  css-nav-1/images/spatnav-scroll-visible-1.png
  css-nav-1/images/spatnav-scroll-visible-2.png
  css-nav-1/images/spatnav_processing_model_diagram.svg
Labels: css-nav-1

#3333 [css-values] Serialize % before px in calc example
  css-values-4/Overview.bs
Labels: css-values-4

#3346 [css-regions] Skip inherit in flow-from grammar
  css-regions-1/Overview.bs
Labels: css-regions-1
