Repository w3c/csswg-drafts, pull requests merged in 2018-08, with the labels that each got.

#2985 [css-align] Add 2nd single-quote around 'align-self/stretch'
  css-align-3/Overview.bs
Labels: css-align-3

#2185 [css-transform] Define "containing block for all descendants"
  css-transforms-1/Overview.bs
  css-transforms-2/Overview.bs
Labels: css-transforms-1

#2974 [css-scrollbars-1] Add scrollbar-width: none
  css-scrollbars-1/Overview.bs
Labels: css-scrollbars-1
