Repository w3c/csswg-drafts, pull requests merged in 2018-09, with the labels that each got.

#2897 Explain :focus-visible intent, add examples and UA guidance
  selectors-4/Overview.bs
Labels: selectors-4

#3089 [css-contain] Fix typos
  css-contain-1/Overview.bs
Labels: css-contain-1

#2992 [css-scrollbars-1] Loosen requirement for scrollbar-width:thin
  css-scrollbars-1/Overview.bs
Labels: css-scrollbars-1

#3065 [css-scrollbar] Merge scrollbar color properties into one
  css-scrollbars-1/Overview.bs
Labels: css-scrollbars-1

#3105 [css-text-3] Make sure control characters really are visible #1990
  css-text-3/Overview.bs
Labels: css-text-3

#3106 [css-text-3] treat lone cr as any control character #855
  css-text-3/Overview.bs
Labels: css-text-3

#3112 [css-scrollbar] Add scrollbar-color: dark/light
  css-scrollbars-1/Overview.bs
Labels: css-scrollbars-1

#3113 [css-scrollbar] Add text for contrast concern of scrollbar colors
  css-scrollbars-1/Overview.bs
Labels: css-scrollbars-1

#3055 [css-align] flex-end without semicolon
  css-align-3/Overview.bs
Labels: css-align-3

#3025 [selectors-4] Document changes since Selectors 3
  selectors-4/Overview.bs
Labels: Needs Testcase (WPT), selectors-4

#3180 [css-contain-1] Add bikeshed wpt info
  css-contain-1/Overview.bs
Labels: css-contain-1
