Repository w3c/csswg-drafts, pull requests merged in 2018-05, with the labels that each got.

#2642 [css-text-3] Typo fix
  css-text-3/Overview.bs
Labels: css-text-3

#2645 [css-fonts-4] Fix ID for the font-variant-emoji section
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#2670 [css-contain] Fix typo
  css-contain-1/Overview.bs
Labels: css-contain-1

#2688 [css-text-decor-3] Tweak example to make it more typical
  css-text-decor-3/Overview.bs
  css-text-decor-3/images/text-emphasis-ja.gif
  css-text-decor-3/images/text-emphasis-ja.png
Labels: css-text-decor-3

#2612 [css-text-3] Spaces don't hang when break-spaces is specified
  css-text-3/Overview.bs
Labels: css-text-3

#2709 [css-fonts-4] Fix Web IDL syntax
  css-fonts-4/Overview.bs
Labels: css-fonts-4
