Repository w3c/csswg-drafts, pull requests merged in 2018-10, with the labels that each got.

#3145 [css-text-3] clarify that U+3000 is not affected by word-break
  css-text-3/Overview.bs
Labels: css-text-3

#3152 [css-text-3] Add Japanese example for keep-all
  css-text-3/Overview.bs
Labels: css-text-3

#3227 [css-content-3] Typo fix
  css-content-3/Overview.bs
Labels: css-content-3

#3235 [css-transforms-2] Fix the check for product == 1.0 to include the case when product is -1
  css-transforms-2/Overview.bs
Labels: css-transforms-2

#2669 [cssom-view] Add window.screenLeft and window.screenTop as aliases
  cssom-view-1/Overview.bs
Labels: cssom-view-1
