Repository w3c/csswg-drafts, pull requests merged in 2018-03, with the labels that each got.

#2168 [css-display] Remove references to <applet>.
  css-display-3/Overview.bs
Labels: css-display-3

#2380 [css-multicol] Refer to line-style,line-width
  css-multicol-1/Overview.bs
Labels: css-multicol-1, ready

#2400 [css-text-3] Simplify the behavior of the break-spaces value
  css-text-3/Overview.bs
Labels: css-text-3, ready

#2434 [css-text-decor-4] Fix broken links to images
  css-text-decor-4/Overview.bs
  css-text-decor-4/images/decoration-skip-ink.png
  css-text-decor-4/images/linethrough-averaging.gif
Labels: css-text-decor-4

#2436 [css-fonts-4] Larger font size can also have a11y implications
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#2433 [css-text-decor-4] Skip punctuation for emphasis marks
  css-text-decor-4/Overview.bs
Labels: css-text-decor-4

#2123 Use Web IDL's new-ish interface mixins concept
  cssom-1/Overview.bs
  cssom-view-1/Overview.bs
Labels: cssom-1, cssom-view-1

#2440 [css-fonts-4] Users should set user style sheets
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#2432 [web-animations-1] Replace *ReadOnly interfaces and timing objects
  web-animations-1/Overview.bs
Labels: web-animations-1

#2457 [css-text-3] Fix Thai sample
  css-text-3/Overview.bs
Labels: css-text-3

#2469 [css-transforms-2] Typo fix
  css-transforms-2/Overview.bs
Labels: css-transforms-2

#2470 [mediaqueries-4] Move 'pointer'/'hover' note, reword "can potentially" to "should strongly consider"
  mediaqueries-4/Overview.bs
Labels: mediaqueries-4
