Repository w3c/csswg-drafts, pull requests merged in 2019-10, with the labels that each got.

#4408 [cssom-view] Update {add,remove}Listener() to hook into DOM correctly
  cssom-view-1/Overview.bs
Labels: cssom-view-1

#4433 [web-animations-1] reformat all headings to markdown style
  web-animations-1/Overview.bs
Labels: web-animations-1

#4467 Fix references to avoid bikeshed warnings
  css-box-3/Overview.bs
  css-conditional-3/Overview.bs
  css-print/Overview.html
  css-ruby-1/Overview.bs
  css-writing-modes-3/Overview.bs
  css-writing-modes-4/Overview.bs
Labels: css-box-3, css-ruby-1

#3891 [css-size-adjust] text-size-adjust is non-negative
  css-size-adjust-1/Overview.bs
Labels: css-size-adjust-1
