Repository w3c/csswg-drafts, pull requests merged in 2019-08, with the labels that each got.

#3911 [css-shapes] link to closest-side definition
  css-egg-1/Overview.bs
  css-shapes-1/Overview.bs
Labels: css-shapes-1

#3921 [css-exclusions] Link to definitions of 'none'
  css-exclusions-1/Overview.bs
Labels: css-exclusions-1

#4183 [css-inline] line-height cannot have two values
  css-inline-3/Overview.bs
Labels: Closed Accepted as Obvious Bugfix, css-inline-3

#4190 [css-contain] Be more rigorous about box vs element
  css-contain-1/Overview.bs
Labels: css-contain-1

#4214 [selectors-4] Fix two links in selectors overview table
  selectors-4/Overview.bs
Labels: selectors-4

#4194 [css-transforms-2] Use reference-box for translate property.
  css-transforms-2/Overview.bs
Labels: css-transforms-2

#4243 [css-ui-4] Remove redundant 's', three times
  css-ui-4/Overview.bs
Labels: css-ui-4

#4153 [css-text-4] Add word-boundary-detection and word-boundary-expansion
  css-text-4/Overview.bs
Labels: css-text-4

#4258 [css-overflow-3] Change class order in markup as in other specs
  css-overflow-3/Overview.bs
Labels: Closed Accepted as Editorial, Closed Accepted by Editor Discretion
