Repository w3c/csswg-drafts, pull requests merged in 2019-01, with the labels that each got.

#3472 [css-text-3] Clarify confusing sentence
  css-text-3/Overview.bs
  css-text-3/test-coverage.html
Labels: Needs Feedback/Review, Needs review of Pull Request, css-text-3

#3310 [css-logical-1] s/as specified/specified keyword
  css-logical-1/Overview.bs
Labels: css-logical-1

#3543 [css-ui] Specify where appearance: button should work
  css-ui-4/Overview.bs
Labels: Needs review of Test Case(s)

#3546 [css-ui] Add button-bevel to the appearance <compat> list
  css-ui-4/Overview.bs
Labels: Needs review of Test Case(s)

#3545 [css-ui] Specify appearance: menulist and menulist-button
  css-ui-4/Overview.bs
Labels: Closed Accepted by Editor Discretion, Needs review of Test Case(s), css-ui-4

#3544 [css-ui] Make appearance: textfield on <input type=search> work
  css-ui-4/Overview.bs
Labels: Closed Accepted by Editor Discretion, Needs review of Test Case(s), css-ui-4
