Repository w3c/csswg-drafts, pull requests merged in 2019-11, with the labels that each got.

#4280 [css-backgrounds] computed background-position-*
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#4429 [css-text-3] Define interaction of bidi and eol hanging spaces
  css-text-3/Overview.bs
Labels: css-text-3

#3750 [css-transforms-2] Revert to the TR rendering model, where transform-style:preserve-3d establishes the 3d rendering context. #1950
  css-transforms-2/Overview.bs
  css-transforms-2/examples/3d-intersection.html
Labels: css-transforms-2
