Repository w3c/csswg-drafts, pull requests merged in 2019-03, with the labels that each got.

#3618 Address typo in ellipse() syntax
  css-shapes-1/Overview.bs
Labels: css-shapes-1

#3263 [css-overflow-3] Inserting the block ellipsis should not cause relayouts
  css-overflow-3/Overview.bs
Labels: css-overflow-3

#2878 Add CSS Nesting
  css-nesting/Overview.bs
Labels: Needs review of Pull Request

#3724 [css-gcpm-3] Update Changes section
  css-gcpm-3/Overview.bs
Labels: css-gcpm-3

#3726 [css-line-grid-1] Update Change Log
  css-line-grid-1/Overview.bs
Labels: css-line-grid-1

#3727 [css-regions-1] Update Changes section
  css-regions-1/Overview.bs
Labels: css-regions-1

#3453 [css-exclusions-1] Add Changes section
  css-exclusions-1/Overview.bs
Labels: css-exclusions-1

#3722 [css-lists-3] Update Changes section
  css-lists-3/Overview.bs
Labels: css-lists-3

#3770 [css-values-4] Typo: missing parentheses
  css-values-4/Overview.bs
Labels: css-values-4

#3725 [css-ruby-1] Update Changes section
  css-ruby-1/Overview.bs
Labels: css-ruby-1

#3755 [css-nav-1] Modify the definition of the distance function
  css-nav-1/Overview.bs
  css-nav-1/images/intersecting-area-1.png
  css-nav-1/images/intersecting-area-2.png
Labels: Needs review of Pull Request, css-nav-1
