Repository w3c/csswg-drafts, pull requests merged in 2019-04, with the labels that each got.

#3795 [css-nav-1] Refine the spec for FPWD
  css-nav-1/Overview.bs
Labels: css-nav-1

#3732 [css-nav-1] Add spatial-navigation-action CSS Property
  css-nav-1/Overview.bs
  css-nav-1/images/spatnav-action.png
Labels: css-nav-1

#3785 [css-values] Serialize all functions in summation
  css-values-4/Overview.bs
Labels: css-values-4

#3808 Tweaks and fixes to css-nav-1
  css-nav-1/Overview.bs
  css-nav-1/images/intersecting-area-1.png
  css-nav-1/images/intersecting-area-2.png
  css-nav-1/images/projected_overlap.png
  css-nav-1/images/spatnav-action.png
Labels: css-nav-1

#3823 [css-values-3] link to a test
  css-values-3/Overview.bs
Labels: css-values-3

#3657 [css-images-4] Fix gradient color stop syntax
  css-images-4/Overview.bs
Labels: css-images-4

#3802 [css-grid-1] Format, add indentation
  css-grid-1/Overview.bs
Labels: css-grid-1

#3811 [css-values-4] Percentage before pixels
  css-values-4/Overview.bs
Labels: css-values-4

#3835 [css-sizing-3] Actually define the term "intrinsic sizes"
  css-sizing-3/Overview.bs
Labels: css-sizing-3

#3788 [selectors-4] Fixes according latest changes
  selectors-4/Overview.bs
Labels: selectors-4
