Repository w3c/csswg-drafts, pull requests merged in 2019-07, with the labels that each got.

#4089 [css-animations] animation-delay is not animatable
  css-animations-1/Overview.bs
Labels: css-animations-1

#4094 [css-text] Clarifications on "hanging"
  css-text-3/Overview.bs
Labels: Closed Accepted as Editorial, Closed Accepted by Editor Discretion, css-text-3

#4096 [css-text-3] Hanging/collapsing of fixed-width spaces
  css-text-3/Overview.bs
Labels: css-text-3

#4103 [css-fonts] font-variation-settings
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#4112 [css-values] sin and cos can reach -1
  css-values-4/Overview.bs
Labels: css-values-4

#4131 [css-writing-modes] Bikeshed fixes
  css-writing-modes-3/Overview.bs
  css-writing-modes-4/Overview.bs
Labels: css-writing-modes-3, css-writing-modes-4

#4130 [css-writing-modes] Clarify how propagation from body works
  css-writing-modes-3/Overview.bs
  css-writing-modes-4/Overview.bs
Labels: css-writing-modes-3, css-writing-modes-4

#4149 [css-writing-modes-3] Undefine processing of spaces inside text-combine-upright for L3
  css-writing-modes-3/Overview.bs
Labels: css-writing-modes-3

#4151 [css-shapes] shape-image-threshold accepts percent
  css-shapes-1/Overview.bs
Labels: css-shapes-1

#4144 [css-overscroll] Update shortname and link to /TR
  css-overscroll-1/Overview.bs
Labels: css-overscroll

#4081 [css-values-3][css-values-4] Fix example in Property Value Examples
  css-values-3/Overview.bs
  css-values-4/Overview.bs
Labels: css-values-3, css-values-4

#4145 [css-page-3] Revert to ED
  css-page-3/Overview.bs
  css-page-3/Overview.html
Labels: css-page-3
