Repository w3c/csswg-drafts, pull requests merged in 2019-06, with the labels that each got.

#3558 [css-fonts-3] Fix type on onload eventHandler
  css-fonts-3/Fonts.html
  css-fonts-3/Overview.html
Labels: css-fonts-3

#3912 [css-grid] [css-sizing] links to column-gap
  css-grid-2/Overview.bs
  css-sizing-4/Overview.bs
Labels: css-grid-2, css-sizing-4

#3920 [css-scrollbars] links to auto keyword
  css-scrollbars-1/Overview.bs
Labels: css-scrollbars-1

#4064 [css-grid-1] Fix Previous Versions
  css-grid-1/Overview.bs
Labels: css-grid-1
