Repository w3c/csswg-drafts, pull requests merged in 2019-09, with the labels that each got.

#4265 Uniform `Inherited` values across specs
  css-animations-2/Overview.bs
  css-logical-1/Overview.bs
  css-overflow-3/Overview.bs
  css-writing-modes-3/Overview.bs
  css-writing-modes-4/Overview.bs
Labels: css-logical-1

#4289 Correct spelling of `id="scollbar-gutter-property"`
  css-overflow-4/Overview.bs
Labels: css-overflow-4

#4269 [css-text-3] Disambiguate "space"
  css-text-3/Overview.bs
Labels: css-text-3

#4294 [css-writing-modes-3] Fix typo #4293
  css-writing-modes-3/Overview.bs
Labels: css-writing-modes-3

#4290 [css-text-3] Hang trailing collapsible other space separators instead of removing them
  css-text-3/Overview.bs
Labels: css-text-3

#4303 [web-animations-1][web-animations-2] Move iterationComposite to web-animations-2
  web-animations-1/Overview.bs
  web-animations-2/Overview.bs
Labels: web-animations-1, web-animations-2

#4306 [css-transitions-2] Add section of transition-timing-function and getComputedTiming (issue #4288)
  css-transitions-2/Overview.bs
  web-animations-1/Overview.bs
Labels: css-transitions-2
