Repository w3c/csswg-drafts, pull requests merged in 2019-05, with the labels that each got.

#3893 [css-rhythm] line-height-step initial value
  css-rhythm-1/Overview.bs
Labels: css-rhythm-1

#3898 [css-contain] Add links to display keywords
  css-contain-1/Overview.bs
Labels: css-contain-1

#3903 [css-backgrounds] Initial background-position-x/y
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#3904 [css-backgrounds] list entries not empty
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#3572 [css-images-4] Uncomment IDL attribtue
  css-images-4/Overview.bs
Labels: css-images-4

#3901 [web-animations-1] Add advice about not using indefinitely filling animations
  web-animations-1/Overview.bs
Labels: web-animations-1

#3915 [[css-gcpm-4] Fix reference to dpub-latinreq
  css-gcpm-4/Overview.bs
Labels: css-gcpm-4

#3902 [web-animations-1] Add parameter for fetching all animations on a subtree
  web-animations-1/Overview.bs
Labels: web-animations-1

#3922 [css-animations] [css-transitions] [css-values] easing
  css-animations-1/Overview.bs
  css-transitions-1/Overview.bs
  css-values-3/Overview.bs
Labels: css-animations-1, css-transitions-1, css-values-3

#3888 [resize-observer-1] Fix some observedBox terminology issues
  resize-observer-1/Overview.bs
Labels: resize-observer

#3914 [css-regions] Consistent references to CSS3-BREAK
  css-regions-1/Overview.bs
Labels: css-regions-1

#3919 [css-inline] [css-scroll-anchoring] content area
  css-inline-3/Overview.bs
  css-scroll-anchoring-1/Overview.bs
Labels: css-inline-3, css-scroll-anchoring-1

#3574 [css-ui] appearance: menulist-button is different from auto
  css-ui-4/Overview.bs
Labels: css-ui-4

#3943 [css-scroll-snap] scroll-padding is not negative.
  css-scroll-snap-1/Overview.bs
Labels: css-scroll-snap-1

#3960 [css-fonts] Add font-size: xxx-large
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#3959 [web-animations-1] Move definition of getAnimations from Document to DocumentOrShadowRoot
  web-animations-1/Overview.bs
Labels: web-animations-1

#3918 [css-values] fix indentation
  css-values-4/Overview.bs
Labels: css-values-4

#3917 Link to CSS Values definition of ex units
  css-cascade-3/Overview.bs
  css-cascade-4/Overview.bs
  css-fonts-4/Overview.bs
  css-page-3/Overview.bs
Labels: css-cascade-3, css-cascade-4, css-fonts-3, css-page-3

#3832 [css-text-decor] Update the link to Kenten Generic
  css-text-decor-3/Overview.bs
Labels: css-text-decor-3
