Repository w3c/csswg-drafts, pull requests merged in 2020-10, with the labels that each got.

#5434 Refactoring of the forced-colors and prefers-contrast media feature
  mediaqueries-5/Overview.bs
Labels: mediaqueries-5

#5562 [css-cascade] Editorial: clarify "does not apply"
  css-cascade-3/Overview.bs
Labels: css-cascade-3

#5603 Add a dfn for -webkit-user-select
  css-ui-4/Overview.bs
Labels: Closed Accepted as Editorial, Closed Accepted by Editor Discretion, css-ui-4

#3723 [css-scoping-1] Update Changes section
  css-scoping-1/Overview.bs
Labels: Agenda+, css-scoping-1

#5631 [css-egg-1] Add the `adafish` unit and the `performance` media query
  css-egg-1/Overview.bs
Labels: css-egg-1
