Repository w3c/csswg-drafts, pull requests merged in 2020-03, with the labels that each got.

#4829 [web-animations-1] Fix invalid error code for KeyfameEffect.pseudoElement
  web-animations-1/Overview.bs
Labels: web-animations-1

#3894 Use bracket range notation in syntax grammar [css-values-3][css-values-4][css-backgrounds-3][css-backgrounds-4][css-multicol-1][css-multicol-2][css-flexbox-1][css-counter-styles-3]
  css-backgrounds-3/Overview.bs
  css-backgrounds-4/Overview.bs
  css-counter-styles-3/Overview.bs
  css-flexbox-1/Overview.bs
  css-multicol-1/Overview.bs
  css-multicol-2/Overview.bs
  css-values-3/Overview.bs
Labels: css-backgrounds-3, css-backgrounds-4, css-counter-styles-3, css-flexbox-1, css-multicol-1, css-multicol-2, css-values-3, css-values-4

#4858 [web-animations-1] Clarify that unsupported pseudo-elements are also invalid
  web-animations-1/Overview.bs
Labels: web-animations-1

#4873 [web-animations-1] Mark ready and finished promise rejections as handled
  web-animations-1/Overview.bs
Labels: web-animations-1

#4876 [meta] Update ISSUE_TEMPLATE to explain spec shortnames
  .github/ISSUE_TEMPLATE
Labels: meta

#4879 Refer to properties & values in lowercase, never sentence-case
  css2/aural.html
  css2/aural.src
  css2/cover.html
  css2/fonts.html
  css2/fonts.src
  css2/generate.html
  css2/generate.src
  css2/text.html
  css2/text.src
  css2/ui.html
  css2/ui.src
  css2/visudet.html
  css2/visudet.src
  css2/visuren.html
  css2/visuren.src
Labels: CSS2

#4885 Ruby cleanup
  css-ruby-1/Overview.bs
Labels: css-ruby-1

#4902 [css-page] Add page-orientation descriptor. Fixes #4491.
  css-page-3/Overview.bs
Labels: css-page-3
