Repository w3c/csswg-drafts, pull requests merged in 2020-04, with the labels that each got.

#4751 [scroll-animations] Update scroll timeline css syntax and properties (#4338, #4336)
  scroll-animations-1/Overview.bs
Labels: scroll-animations

#4853 [css-text-decor-4] update to `text-decoration-skip-ink: all` #4277
  css-text-decor-4/Overview.bs
Labels: css-text-decor-4

#4942 [css-ruby] Remove incorrect language tags, include terms in original language
  css-ruby-1/Overview.bs
Labels: css-ruby-1

#4941 [css-ruby] size and position empty rbc/rtc
  css-ruby-1/Overview.bs
Labels: css-ruby-1

#4975 [css-box][css-backgrounds][css-logical] Applicability of M/B/P on ruby
  css-backgrounds-3/Overview.bs
  css-box-3/Overview.bs
  css-box-4/Overview.bs
  css-logical-1/Overview.bs
Labels: Needs Feedback/Review, css-ruby-1
