Repository w3c/csswg-drafts, pull requests merged in 2020-05, with the labels that each got.

#4737 Add note re scripts to text-decoration-skip-ink
  css-text-decor-4/Overview.bs
Labels: css-text-decor-4, i18n-clreq, i18n-jlreq, i18n-klreq, i18n-tracker

#5033 [web-animations-1] Add timeline to animate() options (#5013)
  web-animations-1/Overview.bs
Labels: scroll-animations, web-animations-1

#5041 Editorial rewrite of HDR text
  mediaqueries-4/Overview.bs
Labels: mediaqueries-4

#5134 [css-overflow][css-contain] define and use overflow clip edge
  css-contain-1/Overview.bs
  css-contain-2/Overview.bs
  css-overflow-3/Overview.bs
Labels: css-contain-2, css-overflow-3

#5140 [css-speech-1] Rephrase background information about media types
  css-speech-1/Overview.bs
Labels: css-speech-1
