Repository w3c/csswg-drafts, pull requests merged in 2020-07, with the labels that each got.

#5282 [selectors-4] Typo: s/docu\tment/document/
  selectors-4/Overview.bs
Labels: selectors-4

#5285 Fix #2586: drop the informative 'aural' "definition"
  css2/Overview.bs
Labels: CSS2, editorial

#5299 [CSS2] simplify reference to RFC2318
  css2/Overview.bs
Labels: CSS2

#4604 [css-text-3] Typo fix
  css-text-3/Overview.bs
Labels: Closed Accepted as Editorial, css-text-3

#5171 [css-images-4] Added <element()> to <image> data type
  css-images-4/Overview.bs
Labels: css-images-4

#5278 [css-color-5] Adjustments to edge cases and set notation for hue interpolation types
  css-color-5/Overview.bs
Labels: css-color-5

#4238 Defined @namespace using CSS syntax (fixes #649)
  css-namespaces-3/Overview.bs
Labels: css-namespaces-3
