Repository w3c/csswg-drafts, pull requests merged in 2020-11, with the labels that each got.

#5311 [CSS2] inherit should use computed, not specified, value
  css2/Overview.bs
Labels: CSS2

#4268 [selectors-4] Make links more precise in selectors overview table
  selectors-4/Overview.bs
Labels: selectors-4

#5709 [css-contain-2] Make content-visibility not animatable #5708
  css-contain-2/Overview.bs
Labels: css-contain-2

#5643 [css-contain-2] Clarify how sizing containment works
  css-contain-2/Overview.bs
Labels: css-contain-1, css-contain-2

#4774 [resize-observer-1] Improve example code
  resize-observer-1/Overview.bs
Labels: resize-observer-1
