Repository w3c/csswg-drafts, pull requests merged in 2020-01, with the labels that each got.

#4657 [css-text-4] Add auto value to text-spacing
  css-text-4/Overview.bs
Labels: css-text-4

#4575 [css-mediaqueries] Add 'prefers-reduced-data' (addresses #2370)
  mediaqueries-5/Overview.bs
Labels: mediaqueries-5

#4420 [css-text] Clarify handling of other space separators in white-space dfn
  css-text-3/Overview.bs
Labels: Needs Testcase (WPT), Needs review of Pull Request, css-text-3

#4616 [web-animations-1] Resolve remaining issues missed in pseudo-element change.
  css-animations-2/Overview.bs
  css-transitions-2/Overview.bs
  web-animations-1/Overview.bs
Labels: web-animations-1
