Repository w3c/csswg-drafts, pull requests merged in 2020-06, with the labels that each got.

#5124 [scroll-animations-1] Add Element-based offset (#4337)
  scroll-animations-1/Overview.bs
  scroll-animations-1/img/example-element-based.svg
Labels: scroll-animations

#5164 [css-inline-3] A few typo fixes.
  css-inline-3/Overview.bs
Labels: css-inline-3

#5135 [scroll-animations-1] Add threshold to element based (#5124)
  scroll-animations-1/Overview.bs
  scroll-animations-1/img/example-element-based-threshold.svg
  scroll-animations-1/img/example-element-based.svg
Labels: scroll-animations

#5201 [scroll-animations-1] Update ScrollTimeline.start/end types
  scroll-animations-1/Overview.bs
Labels: scroll-animations

#5214 [css-inline-3] Expand a bit on example 1
  css-inline-3/Overview.bs
Labels: css-inline-3, editorial

#5215 [css-inline-3] Harmonize phrasing
  css-inline-3/Overview.bs
Labels: css-inline-3, editorial

#5186 [scroll-animations-1][web-animations-1] Added phase calculation for ScrollTimeline #4325
  scroll-animations-1/Overview.bs
Labels: scroll-animations

#5256 [css-color-5] Fix intermediate color in color-mix(red yellow 65%) example.
  css-color-5/Overview.bs
  css-color-5/images/CH-mixing3.svg
Labels: css-color-5
