Repository w3c/csswg-drafts, pull requests merged in 2021-01, with the labels that each got.

#5848 [css-images-4] Fix typos (s/tho/though/, s/It/If/)
  css-images-4/Overview.bs
Labels: css-images-4

#5839 [selectors-4][editorial] Remove mention of <link> being a :link match
  selectors-4/Overview.bs
Labels: selectors-4

#5895 Bikeshed-added widows-orphans-018.html in csswg-drafts/css-break-3
  css-break-3/Overview.bs
Labels: css-break-3

#5899 Bikeshed-added links to 32 tests
  css-pseudo-4/Overview.bs
Labels: css-pseudo-4
