Repository w3c/csswg-drafts, pull requests merged in 2021-03, with the labels that each got.

#5838 [css-fonts-4] Use “create a potential-CORS request”
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#6077 [css-tables-3] Drop zero-width spaces in border-spacing dfn
  css-tables-3/Overview.bs
Labels: css-tables-3

#5767 [css-nesting-1] Align with Web IDL specification
  css-nesting-1/Overview.bs
Labels: css-nesting

#6086 [css-ui] Use :focus-visible instead of :focus
  css-ui-4/Overview.bs
Labels: Closed Accepted as Editorial, Closed Accepted by Editor Discretion, css-ui-4

#5821 [css-overflow] Update link to outline properties
  css-overflow-3/Overview.bs
Labels: css-overflow-3, editorial

#6135 [css-highlight-api] Custom highlight overlays should stack below native highlight overlays
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1

#6136 [css-highlight-api] Misc highlight priority fixes based on recent resolutions
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1

#6145 [css-transforms-2] Add myself as a co-editor.
  css-transforms-2/Overview.bs
Labels: css-transforms-2

#6147 [css-transforms-2] Don't maintain state for whether individual transform property values are 2D or 3D.
  css-transforms-2/Overview.bs
Labels: css-transforms-2
