Repository w3c/csswg-drafts, pull requests merged in 2021-02, with the labels that each got.

#5974 [selectors-4] Remove example related to :focus:not(:focus-visible) (#4278)
  selectors-4/Overview.bs
Labels: selectors-4

#4396 [css-transforms] scale function and property %
  css-transforms-2/Overview.bs
Labels: css-transforms-2

#6003 [css-highlight-api-1] Rename HighlightsRegister to HighlightRegistry
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1
