Repository w3c/csswg-drafts, pull requests merged in 2021-04, with the labels that each got.

#6198 [css-highlight-api-1] Make HighlightRegistry maplike
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1

#6096 [css-lists] Define reversed counters with automatic initial value
  css-lists-3/Overview.bs
Labels: Needs Feedback/Review, Needs Review of Test Case(s), css-lists-3

#6219 [selectors-4] Define a number of new pseudo-classes for matching the state of media elements.
  selectors-4/Overview.bs
Labels: Needs Review of Proposed Text, Needs Testcase (WPT), selectors-4

#6256 Created implementation report for css-values-3
  css-values-3/implementation-report.html
Labels: css-values-3
