Repository w3c/csswg-drafts, pull requests merged in 2021-09, with the labels that each got.

#6604 [css-fonts-4] Remove redundant grammar
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#6584 [css-highlights-api] StaticRange validity updates
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1

#6585 [css-highlights-api] Restore check that range is in same document as the HighlightRegistry
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1

#6691 [css-transforms-2] Add ''perspective(none)''.
  css-transforms-2/Overview.bs
Labels: css-transforms-2
