Repository w3c/csswg-drafts, pull requests merged in 2021-08, with the labels that each got.

#6505 [css-scroll-snap-1] Fix a small typo in section 4
  css-scroll-snap-1/Overview.bs
Labels: css-scroll-snap-1

#6527 [scroll-animations-1] Fix indentation and spacing for bikeshed.
  scroll-animations-1/Overview.bs
Labels: scroll-animations

#6552 [css-nesting] Link to /TR
  css-nesting-1/Overview.bs
Labels: css-nesting
