Repository w3c/csswg-drafts, pull requests merged in 2022-12, with the labels that each got.

#7988 [scroll-animations-1] Define view() notation #7587
  scroll-animations-1/Overview.bs
Labels: scroll-animations-1

#8217 [css-link-params] Renamed index.bs to Overview.bs
  css-link-params/Overview.bs
Labels: css-linked-params-1

#8262 [css-text-4] interscript text-spacing as default
  css-text-4/Overview.bs
Labels: css-text-4, i18n-tracker, i18n-jlreq, i18n-clreq
