Repository w3c/csswg-drafts, pull requests merged in 2022-10, with the labels that each got.

#7842 [css-highlight-api] fix paired defaults terminology
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1

#7895 [css-color-4] Define hue interpolation angle precisely, maintain differences of 360deg
  css-color-4/Overview.bs
Labels: css-color-4

#7699 [css-sizing-3] Add note to clarify indefiniteness of intrinsic size keywords
  css-sizing-3/Overview.bs
Labels: css-sizing-3, editorial
