Repository w3c/csswg-drafts, pull requests merged in 2022-02, with the labels that each got.

#7014 [css-backgrounds-4] Added missing animation types to property definitions
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#6918 [css-scroll-snap-1] Add missing Axis to sample code
  css-scroll-snap-1/Overview.bs
Labels: css-scroll-snap-1

#7086 [css-fonts-5] Fix typo in tech() function
  css-fonts-5/Overview.bs
Labels: css-fonts-5
