Repository w3c/csswg-drafts, pull requests merged in 2022-11, with the labels that each got.

#8005 [css-view-transitions-1] Fix warnings, add issues for currently unfixable warnings
  css-view-transitions-1/Overview.bs
Labels: css-view-transitions-1

#8016 [css-view-transitions-1] The big reformat
  css-view-transitions-1/Overview.bs
Labels: css-view-transitions-1

#7029 [css-images-4][css-backgrounds-4] Added stripes() function
  css-backgrounds-4/Overview.bs
  css-images-4/Overview.bs
  css-ui-4/Overview.bs
Labels: css-backgrounds-4, css-images-4

#8011 [selectors-4] Make empty language strings match untagged elements. #6915
  selectors-4/Overview.bs
Labels: i18n-tracker

#8037 [css-view-transitions-1] Add snapshot viewport concept
  css-view-transitions-1/Overview.bs
  css-view-transitions-1/desktop-browser-snapshot-viewport-original.svg
  css-view-transitions-1/desktop-browser-snapshot-viewport.svg
  css-view-transitions-1/desktop-browser.svg
  css-view-transitions-1/phone-browser-scrolled-to-top-with-url.svg
  css-view-transitions-1/phone-browser-scrolled-to-top-without-url.svg
  css-view-transitions-1/phone-browser-snapshot-viewport-original.svg
  css-view-transitions-1/phone-browser-snapshot-viewport.svg
  css-view-transitions-1/phone-browser-with-url.svg
  css-view-transitions-1/phone-browser-without-url.svg
  css-view-transitions-1/phone-browser.svg
Labels: css-view-transitions-1
