Repository w3c/csswg-drafts, pull requests merged in 2023-11, with the labels that each got.

#9550 [css-counter-styles-3][editorial] Add the preferred name for Oriya
  css-counter-styles-3/Overview.bs
Labels: css-counter-styles-3, i18n-tracker

#9540 [css-grid-1][editorial] Rearrange the grid layout algo a little for clarity, making a new top-level algo. #3418
  css-grid-1/Overview.bs
  css-grid-2/Overview.bs
Labels: css-grid-1

#9084 [css-backgrounds-4] Added `background-layer` property
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#9593 [css-borders-4][editorial] Removed the issue about multiple border colors
  css-borders-4/Overview.bs
Labels: editorial, css-borders-4

#9594 [css-backgrounds-4][css-borders-4][editorial] Fixed indentation and a bunch of Bikeshed issues
  css-backgrounds-4/Overview.bs
  css-borders-4/Overview.bs
Labels: css-backgrounds-4, css-borders-4

#9571 [css-images-4] Allow omitting resolution/type in image-set()
  css-images-4/Overview.bs
Labels: Closed Accepted as Obvious Bugfix

#9279 [css-pseudo-4] Define the behavior when custom properties must be taken from the root
  css-pseudo-4/Overview.bs
Labels: css-pseudo-4

#9656 [css-borders-4] Fixed examples for `border-limit` and `border-*-clip` properties
  css-borders-4/Overview.bs
Labels: css-borders-4
