Repository w3c/csswg-drafts, pull requests merged in 2023-03, with the labels that each got.

#7685 [css-device-adapt][css-grid][css-shapes][css-speech] Add range notation
  css-grid-1/Overview.bs
  css-grid-2/Overview.bs
  css-shapes-1/Overview.bs
  css-speech-1/Overview.bs
Labels: css-grid-2

#8541 [scroll-animations-1] source is updated upon request and in sync with currentTime
  scroll-animations-1/Overview.bs
Labels: scroll-animations-1

#6083 [css-backgrounds-4] Added box-shadow-* longhand properties
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#8471 [scroll-animations-1] Add self keyword
  scroll-animations-1/Overview.bs
Labels: scroll-animations-1

#8614 [css-images-4] Fixed interpolation of `stripes()` with different types
  css-images-4/Overview.bs
Labels: css-images-4

#8650 [css-text-4] Add Unicode Category for nonspacing marks
  css-text-4/Overview.bs
Labels: css-text-4, i18n-tracker

#8647 [css-highlight-api-1] Add i18n warning about placement of range endpoints in text
  css-highlight-api-1/Overview.bs
Labels: css-highlight-api-1
