Repository w3c/csswg-drafts, pull requests merged in 2023-09, with the labels that each got.

#9299 [css-text-4] Deduplication of normative text and editorial reorganization
  css-text-4/Overview.bs
Labels: css-text-4, Closed Accepted as Editorial, editorial

#9348 [css-transforms-2] Make backface-visibility:hidden create a stacking context and containing block when participating in a 3D rendering context.
  css-transforms-2/Overview.bs
Labels: css-transforms-2

#9282 [css-fonts-4] Animating palettes
  css-fonts-4/Overview.bs
  css-fonts-4/images/nabla-animated.webp
Labels: css-fonts-4

#9369 [css-overflow-4] Rephrased description of `max-lines` to avoid double negative
  css-overflow-4/Overview.bs
Labels: css-overflow-4, editorial

#9347 [css-anchor-position-1] Make snapshotted scroll offset per-axis
  css-anchor-position-1/Overview.bs
Labels: css-anchor-position-1

#9346 [css-anchor-position-1] Fix anchor-center section number
  css-anchor-position-1/Overview.bs
Labels: css-anchor-position-1
