Repository w3c/csswg-drafts, pull requests merged in 2023-02, with the labels that each got.

#7436 Audit specifications for correct handling of overflow:clip.
  css-backgrounds-3/Overview.bs
  css-tables-3/Overview.bs
  css-ui-3/Overview.bs
  css-ui-4/Overview.bs
Labels: css-ui-3, css-tables-3, css-overflow-3, css-backgrounds-3, css-ui-4

#8219 [scroll-animations-1] separate animation-range and animation-delay #7901
  scroll-animations-1/Overview.bs
Labels: scroll-animations-1

#8302 [css-text-3] Strengthen language about conformant use of text-transform
  css-text-3/Overview.bs
Labels: css-text-3, Agenda+

#7705 [css-backgrounds-4] Added `border-*-radius` shorthands
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#8498 [css-animations-2] Fixed Changes section and added links
  css-animations-2/Overview.bs
Labels: editorial
