Repository w3c/csswg-drafts, pull requests merged in 2023-08, with the labels that each got.

#9096 [css-borders-4] Fixed and added definitions for box-shadow-offset: none
  css-borders-4/Overview.bs
Labels: css-borders-4

#9161 [css-page-3][editorial] Replaced `border-short-style` by `border-style`
  css-page-3/Overview.bs
Labels: css-page-3, editorial

#9210 [css-ruby] Editorial fixes
  css-ruby-1/Overview.bs
Labels: css-ruby-1

#8985 [web-animations-1] Restructure and Improve DFNs in Animation Effects section
  web-animations-1/Overview.bs
Labels: web-animations-1

#9244 [css-anchor-position-1] Add more properties to position fallback
  css-anchor-position-1/Overview.bs
Labels: css-anchor-position-1

#9186 [css-borders-4] Defined `box-shadow-*` as coordinating list property group
  css-borders-4/Overview.bs
Labels: css-borders-4

#9242 [css-text-4] auto-phrase
  css-text-4/Overview.bs
Labels: css-text-4, Agenda+
