Repository w3c/csswg-drafts, pull requests merged in 2023-04, with the labels that each got.

#8648 [scroll-animations-1] Add inset option to ViewTimeline constructor #7748
  scroll-animations-1/Overview.bs
Labels: scroll-animations-1

#8342 [css-align-3] When assuming orthogonal writing mode for baseline alignment, choose based on 'direction'. #7775
  css-align-3/Overview.bs
Labels: css-align-3, i18n-tracker, Agenda+ i18n

#8748 [css-text] Editorial fix
  css-text-3/Overview.bs
  css-text-4/Overview.bs
Labels: css-text-3, css-text-4
