Repository w3c/csswg-drafts, pull requests merged in 2023-06, with the labels that each got.

#8918 Reorganize Concepts in View Transitions spec
  css-view-transitions-1/Overview.bs
Labels: css-view-transitions-1

#8935 Tiny typo
  css-grid-2/Overview.bs
Labels: css-grid-2

#8965 [web-animations-1] Improvements to term definitions and cross-linking
  web-animations-1/Overview.bs
Labels: web-animations-1
