Repository w3c/csswg-drafts, pull requests merged in 2023-07, with the labels that each got.

#9024 [css-pseudo-4][editorial] Fixed typo in example
  css-pseudo-4/Overview.bs
Labels: editorial

#8021 [css-images-3] remove && from <linear-color-stop> syntax
  css-images-3/Overview.bs
Labels: css-images-3

#9126 [css-backgrounds-4][css-borders-4][editorial] Added proper Changes sections
  css-backgrounds-4/Overview.bs
  css-borders-4/Overview.bs
Labels: css-backgrounds-4, editorial, css-borders-4

#9127 [css-borders-4] Added Oriol Brufau to acknowledgements
  css-borders-4/Overview.bs
Labels: editorial, css-borders-4

#9129 [css-backgrounds-4] Fixed display of issue for `background-repeat: extend`
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4, editorial
