Repository w3c/csswg-drafts, pull requests merged in 2024-10, with the labels that each got.

#10974 [cssom] Don't serialize empty rules
  cssom-1/Overview.bs
Labels: cssom-1

#10825 [css-color-4] Clarify intended use of the parse a CSS <color> algorithm
  css-color-4/Overview.bs
Labels: css-color-4

#10942 [css-namespaces-3] Define <namespace-prefix> with case-sensitive <cus…
  css-namespaces-3/Overview.bs
Labels: css-namespaces-3

#11053 [css-ui-4] Editorial improvement; removes redundant group notation from outline-color property
  css-ui-4/Overview.bs
Labels: css-ui-4, editorial

#11089 Revert "[css-namespaces-3] Define <namespace-prefix> with case-sensitive <custom-ident>"
  css-namespaces-3/Overview.bs
Labels: css-namespaces-3

#11094 [css-ui-4] Editorial improvement; removes redundant group notation from outline property
  css-ui-4/Overview.bs
Labels: css-ui-4

#11106 [css-text-4] use "see individual properties" terminology for whitespace property
  css-text-4/Overview.bs
Labels: css-text-4, editorial

#11122 [css-color-hdr-1] Accept `dynamic-range-limit-mix()` as a type instead of a literal function
  css-color-hdr-1/Overview.bs
Labels: css-color-hdr
