Repository w3c/csswg-drafts, pull requests merged in 2024-11, with the labels that each got.

#11133 [css-ui-4] Fix animmations -> animations typo
  css-ui-4/Overview.bs
Labels: css-ui-4, Closed Accepted as Editorial

#11130 [css-overflow-4][css-page-floats-3][editorial] Syntax simplification
  css-overflow-4/Overview.bs
  css-page-floats-3/Overview.bs
Labels: css-overflow-4, css-page-floats-3

#11135 [css-nesting-1] Specificity of '&' is zero without a parent rule
  css-nesting-1/Overview.bs
Labels: css-nesting-1

#11107 [css-anchor-position-1]/[css-fonts-4]/[css-position-4] (editorial) make "see prose" value consistent (drop parens from outliers)
  css-anchor-position-1/Overview.bs
  css-fonts-4/Overview.bs
  css-position-4/Overview.bs
Labels: css-fonts-4, css-position-4, editorial, css-anchor-position-1

#11148 [css-rythm-1] [editorial] remove redundant `px` dimension from `line-height-step` initial value
  css-rhythm-1/Overview.bs
Labels: css-rhythm-1

#11186 [css-multicol-2] Add ::column pseudo, per WG resolution. #10715
  css-multicol-2/Overview.bs
Labels: css-multicol-2

#11218 [css-values] Total attr()-tainting for substitution values
  css-values-5/Overview.bs
Labels: css-values-5

#11262 [css-multicol-1] Clarify effect of `hidden` on `column-rule-width`. #11090
  css-multicol-1/Overview.bs
Labels: css-multicol-1, editorial

#11277 [css-color-adjust-1] Add example for `color-mix()` in Forced Colors Mode. #11097
  css-color-adjust-1/Overview.bs
Labels: css-color-adjust-1
