Repository w3c/csswg-drafts, pull requests merged in 2024-07, with the labels that each got.

#10535 [css-color-5][editorial] Fix serialization form of mixed colors (#10415)
  css-color-5/Overview.bs
Labels: css-color-5

#10559 [css-fonts-4] Restore monospace in generic family
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#10556 [css-fonts-4][editorial] Typos
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#10561 [css-nesting-1][editorial] `@container` is now a conditional group rule
  css-nesting-1/Overview.bs
Labels: css-nesting-1

#10625 [css-inline-3] Fix broken tag
  css-inline-3/Overview.bs
Labels: css-inline-3

#10611 [css-ui-4] update outline value syntax
  css-ui-4/Overview.bs
Labels: css-ui-4

#10634 [css-conditional-3] supports() must return false for invalid custom property value
  css-conditional-3/Overview.bs
Labels: css-conditional-3
