Repository w3c/csswg-drafts, pull requests merged in 2024-06, with the labels that each got.

#10365 [cssom-view] Change `document.caretPositionFromPoint`'s `shadowRoots` parameter from rest parameter to a dictionary with an array of shadow roots
  cssom-view-1/Overview.bs
Labels: cssom-view-1

#10427 [css-box-4] Allowed combination of block and inline keywords in margin-trim
  css-box-4/Overview.bs
Labels: css-box-4

#10413 [css-color-5] <hue-interpolation-method> error occurs at parse time
  css-color-5/Overview.bs
Labels: css-color-5

#10467 [css-color-4] CSS gamut mapping applies on actual values
  css-color-4/Overview.bs
Labels: css-color-4

#10386 [css-nesting] Retire @nest, introduce the 'nested declarations rule'
  css-nesting-1/Overview.bs
  css-syntax-3/Overview.bs
  cssom-1/Overview.bs
Labels: css-syntax-3, css-nesting-1

#10367 [css-mixins] Add CSS Functions and Mixins specification
  css-mixins-1/Overview.bs
Labels: css-mixins
