Repository w3c/csswg-drafts, pull requests merged in 2024-01, with the labels that each got.

#9760 [css-anchor-position-1] Fixed anchor-size() syntax
  css-anchor-position-1/Overview.bs
Labels: css-anchor-position-1

#9765 [css-borders-4] Moved all border- and box-decoration-related images from CSS Backgrounds 4 to CSS Borders 4
  css-borders-4/images/border-break.png
  css-borders-4/images/border-image.png
  css-borders-4/images/border.png
  css-borders-4/images/borderresult.png
  css-borders-4/images/borderstyles.png
  css-borders-4/images/box-shadow.png
  css-borders-4/images/corner-large-mix.png
  css-borders-4/images/corner.png
  css-borders-4/images/dot9-stretch.png
  css-borders-4/images/dot9.png
  css-borders-4/images/groovy-border-image-slice.png
  css-borders-4/images/groovy-border-image-source.png
  css-borders-4/images/multicolor-border-dotted.png
  css-borders-4/images/multicolor-border.png
  css-borders-4/images/shadow-inner-round.png
  css-borders-4/images/shadow-inner-spread-round.png
  css-borders-4/images/shadow-inner-spread-square.png
  css-borders-4/images/shadow-inner-square.png
  css-borders-4/images/shadow-outer-round.png
  css-borders-4/images/shadow-outer-spread-round.png
  css-borders-4/images/shadow-outer-spread-square.png
  css-borders-4/images/shadow-outer-square.png
  css-borders-4/images/slice.png
  css-borders-4/images/smooth-radius.png
  css-borders-4/images/spread-blur.png
  css-borders-4/images/transition-region.png
  css-borders-4/images/transition-region.svg
Labels: css-borders-4

#9766 [css-backgrounds-3][css-borders-4][editorial] Removed unused images
  css-backgrounds-3/images/bg-break-close.png
  css-backgrounds-3/images/border-break.png
  css-backgrounds-3/images/box-shadow.png
  css-backgrounds-3/images/dot9-stretch.png
  css-backgrounds-3/images/dot9.png
  css-backgrounds-4/images/bg-break-close.png
  css-backgrounds-4/images/box-break.png
Labels: css-backgrounds-3, editorial, css-borders-4

#9783 [css-color-4] ActiveCaption is a background.
  css-color-4/Overview.bs
Labels: css-color-4

#9835 [css-shapes-1] Replace `<alpha-value>` with `<'opacity'>`
  css-shapes-1/Overview.bs
Labels: css-shapes-1

#9779 [scroll-animations-1] Add `all` as a value for `timeline-scope`
  scroll-animations-1/Overview.bs
Labels: scroll-animations-1

#9883 [scroll-animations] Abstract should say CSS properties instead of markup
  scroll-animations-1/Overview.bs
Labels: scroll-animations-1
