Repository w3c/csswg-drafts, pull requests merged in 2024-08, with the labels that each got.

#10739 [css-grid-2] Fixed link to "Stretch 'auto' Tracks" section
  css-grid-2/Overview.bs
Labels: css-grid-2, editorial

#10736 [css-values-5] Require calc-size() calculation types to match <length…
  css-values-5/Overview.bs
Labels: css-values-5

#9756 [css-backgrounds-4] Added background-repeat-* longhands
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4
