Repository w3c/csswg-drafts, pull requests merged in 2024-03, with the labels that each got.

#4212 [selectors-4] Canonicalize into extlang form prior to :lang() matching
  selectors-4/Overview.bs
Labels: selectors-4

#10072 [css-view-transitions-2] Apply resolutions for view-transition types
  css-view-transitions-2/Overview.bs
Labels: css-view-transitions-2

#10090 [web-animations-1] Fix typo `invaid` → `invalid`
  web-animations-1/Overview.bs
Labels: css-animations-1

#9896 [css-view-transitions-2] Require one or more custom ident for view-transition-class and type
  css-view-transitions-2/Overview.bs
Labels: css-view-transitions-2
