Repository w3c/csswg-drafts, pull requests merged in 2024-02, with the labels that each got.

#9900 [css-view-transitions-2] Only accept declarations in `@view-transitions`
  css-view-transitions-2/Overview.bs
Labels: css-view-transitions-2

#9895 [css-view-transitions-1] Exclude auto as custom ident for view-transition-name
  css-view-transitions-1/Overview.bs
Labels: css-view-transitions-1

#9925 [css-fonts-4] Define CSSFontFeatureValuesRule.historicalForms
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#9928 [Contributing.md] Suggestion to improve the contribution best practices
  CONTRIBUTING.md
Labels: Agenda+

#9976 [css-fonts-4] Fix markup #9969
  css-fonts-4/Overview.bs
Labels: css-fonts-4

#9985 [css-color-4] Add production rule for <opacity-value>
  css-color-4/Overview.bs
Labels: css-color-4

#9994 [css-text-4] Typo fix
  css-text-4/Overview.bs
Labels: css-text-4, Closed Accepted as Editorial, Testing Unnecessary, editorial
