Repository w3c/csswg-drafts, pull requests merged in 2024-12, with the labels that each got.

#11108 [css-backgrounds-3]/[css-box-3]/[css-speech-1] drop parens around "see individual properties"
  css-backgrounds-3/Overview.bs
  css-box-3/block-layout.bs
  css-speech-1/Overview.bs
Labels: css-backgrounds-3, css-speech-1, css-box-3, editorial

#11386 [css-2024] Added new section "Reliable Candidate Recommendations"
  css-2024/Overview.bs
Labels: css-2024

#11375 [css-2024] Added CSS Scroll Anchoring 1, CSSOM 1, CSS Color 5, and Selectors 4 to Rough Interoperability
  css-2024/Overview.bs
Labels: css-2024

#11391 [css-values-5] Fix <progress> definition to use <percentage-token>
  css-values-5/Overview.bs
Labels: css-values-5

#11407 [css-ui-4] Fixed grammar and spelling mistakes
  css-ui-4/Overview.bs
Labels: css-ui-4, editorial
