Repository w3c/csswg-drafts, pull requests merged in 2024-04, with the labels that each got.

#10174 [css-scrollbars] Remove example about IE
  css-scrollbars-1/Overview.bs
Labels: css-scrollbars-1, editorial

#10057 [css-scroll-snap-1] Define selected snap area amongst multiple aligned candidates
  css-scroll-snap-1/Overview.bs
Labels: css-scroll-snap-1

#10190 [cssom-1] Fix false assumption that all rules are style rules
  cssom-1/Overview.bs
Labels: cssom-1
