Repository w3c/csswg-drafts, pull requests merged in 2025-01, with the labels that each got.

#11444 [css-mixins-1] Add Privacy and Security sections
  css-mixins-1/Overview.bs
Labels: css-mixins

#11450 [css-mixins-1] Remove superfluous </pre> tags
  css-mixins-1/Overview.bs
Labels: css-mixins

#11446 [css-mixins-1] Describe custom function cycles
  css-mixins-1/Overview.bs
Labels: css-mixins

#11449 [css-mixins-1] Do arbitrary function substitution before evaluation
  css-mixins-1/Overview.bs
Labels: css-mixins

#11443 [css-mixins-1] Disambiguate dfn "invalid at computed-value time"
  css-mixins-1/Overview.bs
Labels: css-mixins

#11451 [css-mixins-1] Explain comma-containing values as single argument
  css-mixins-1/Overview.bs
Labels: css-mixins

#11540 [css-contain-2] Grammar improvements
  css-contain-2/Overview.bs
Labels: Closed Accepted as Editorial, css-contain-2

#11586 [css-shapes-2] Refine use of the word "path" in the intro
  css-shapes-2/Overview.bs
Labels: css-shapes-2

#10128 [css-animations-2] Specify the animation-trigger property
  css-animations-2/Overview.bs
  web-animations-2/Overview.bs
Labels: css-animations-2
