Repository w3c/csswg-drafts, pull requests merged in 2025-03, with the labels that each got.

#11722 [css-view-transitions-1] Fix typo
  css-view-transitions-1/Overview.bs
Labels: css-view-transitions-1

#11807 [*][editorial] Unquote delimiters in value definitions
  css-page-3/Overview.bs
  css-values-3/Overview.bs
  css-values-4/Overview.bs
  selectors-4/Overview.bs
Labels: meta

#11858 [css-forms-1] Define `::color-swatch` pseudo element
  css-forms-1/Overview.bs
Labels: css-forms-1

#11876 [css-forms-1] Add `::file-selector-button` to selectors for buttons
  css-forms-1/Overview.bs
Labels: css-forms-1

#11874 [css-forms-1] Add user-select: none to button-like stylesheet
  css-forms-1/Overview.bs
Labels: css-forms-1

#11872 [css-forms-1] Fix ::checkmark styles to apply when input is checked
  css-forms-1/Overview.bs
Labels: css-forms-1

#11875 [css-forms-1] Add input buttons to selectors for buttons
  css-forms-1/Overview.bs
Labels: css-forms-1

#11879 [css-forms-1] Add field-sizing to base select styles
  css-forms-1/Overview.bs
Labels: css-forms-1

#11743 [css-shapes-2] Editorial: Add clarification about relationship with 'path'
  css-shapes-2/Overview.bs
Labels: css-shapes-2

#11757 [css-round-display-1] Update viewport-fit to property of viewport meta element
  css-round-display-1/Overview.bs
Labels: css-round-display-1

#11944 [web-animations-2] Editorial: fixed some bikeshed errors and warnings
  web-animations-2/Overview.bs
Labels: web-animations-2

#11898 [css-forms-1] Add textual inputs to pseudo elements table
  css-forms-1/Overview.bs
Labels: css-forms-1

#11900 [css-forms-1] Add textarea to pseudo elements table
  css-forms-1/Overview.bs
Labels: css-forms-1

#11989 [css-forms-1] Add !important to select buttons inertness
  css-forms-1/Overview.bs
Labels: css-forms-1

#12028 [selectors-3] Fix typo
  selectors-3/Overview.html
Labels: editorial
