Repository w3c/csswg-drafts, pull requests merged in 2025-05, with the labels that each got.

#12164 [css-variables] Handle short-circuiting var(), argument grammars, etc
  css-variables-1/Overview.bs
  css-variables-2/Overview.bs
Labels: css-variables-1

#12165 [css-mixins-1] Handle dynamic cycle detection, argument grammar
  css-mixins-1/Overview.bs
  css-values-5/Overview.bs
Labels: css-mixins

#12155 Fix bikeshed errors in color adjust spec
  css-color-adjust-1/Overview.bs
Labels: css-color-adjust-1

#12166 Update to color properties in Forced Colors Mode
  css-color-adjust-1/Overview.bs
Labels: css-color-adjust-1

#12184 [css-overflow-5] Specify that root ::scroll-marker-group is a child.
  css-overflow-5/Overview.bs
Labels: css-overflow-5

#12177 [cssom-view-1] Define HTMLElement.scrollParent
  cssom-view-1/Overview.bs
Labels: cssom-view-1

#12228 [css-env-1] env(preferred-text-scale) explainer #10674
  css-env-1/explainers/env-preferred-text-scale.md
  css-env-1/explainers/images/background-bbc-sport-app.png
  css-env-1/explainers/images/background-bbc-sport.png
  css-env-1/explainers/images/background-reddit.png
  css-env-1/explainers/images/existing-os-chrome-on-android-tsa.png
  css-env-1/explainers/images/existing-os-chrome-on-android.png
  css-env-1/explainers/images/existing-os-macos.png
  css-env-1/explainers/images/existing-os-safari-on-ios-tsa.png
  css-env-1/explainers/images/existing-os-safari-on-ios.png
  css-env-1/explainers/images/existing-os-win11-browsers.png
  css-env-1/explainers/images/existing-os-win11.png
  css-env-1/explainers/images/existing-ua-chrome-edge-on-desktop.png
  css-env-1/explainers/images/existing-ua-firefox-on-desktop.png
  css-env-1/explainers/images/existing-ua-safari-min-font-size.png
  css-env-1/explainers/images/existing-ua-safari-on-macos.png
  css-env-1/explainers/images/existing-zoom-chrome-on-android.png
  css-env-1/explainers/images/existing-zoom-firefox-on-android.png
  css-env-1/explainers/images/existing-zoom-safari-on-ios.png
  css-env-1/explainers/images/proposal-example-1.png
  css-env-1/explainers/images/proposal-example-2.png
  css-env-1/explainers/images/proposal-example-3.png
  css-env-1/explainers/images/usecases-google.png
  css-env-1/explainers/images/usecases-reddit.png
Labels: css-env-1
