Repository w3c/csswg-drafts, pull requests merged in 2025-09, with the labels that each got.

#12717 [css-counter-styles-3] Add negative sign processing to CJK custom algorithms #12714
  css-counter-styles-3/Overview.bs
Labels: css-counter-styles-3

#12724 [cssom-view-1] Fix a typo in `scrollParent` definition
  cssom-view-1/Overview.bs
Labels: cssom-view-1, editorial

#12725 [css-2025] Added CSS Cascade 5, CSS Color Adjust 1, and CSS Conditional 4 to Reliable CRs
  css-2025/Overview.bs
Labels: css-2025

#12727 [css-2025][editorial] Removed CSS Color Adjust 1 and CSS Conditional 4 from Rough Interop
  css-2025/Overview.bs
Labels: editorial, css-2025

#12733 [css-color-4] Updated `AccentColor` to take its value from `accent-color`, unless Forced Colors Mode is enabled
  css-color-4/Overview.bs
Labels: css-color-4

#12738 [css-backgrounds-4] Allowed combining `border-area` and `text` in `background-clip`
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#12739 [css-backgrounds-4] Defined interaction of `border-area` and `text` values for `background-clip`
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#12762 [cssom-view-1][editorial] Added WPTs
  cssom-view-1/Overview.bs
Labels: cssom-view-1, editorial

#12785 [css-overflow] drop overflow columns and subsequent content with discard
  css-overflow-4/Overview.bs
Labels: css-overflow-4

#12808 [css-grid-3][masonry] Clarifications to intrinsic auto-repeats
  css-grid-3/Overview.bs
Labels: css-grid-3

#12825 [css-overflow-4] Clarify (independent) formatting contexts and ellipsis insertion
  css-overflow-4/Overview.bs
Labels: css-overflow-4, Closed Accepted as Obvious Bugfix

#12864 [css-2025] Delete CSS-CASCADE-5 reference in 2.4 section
  css-2025/Overview.bs
Labels: css-2025
