Repository w3c/csswg-drafts, pull requests merged in 2025-02, with the labels that each got.

#11651 [css-borders-4] Remove the second value from the corner-*-shape variant
  css-borders-4/Overview.bs
Labels: css-borders-4

#11687 [css-borders-4] Clean up 'corner-shape' shorthand
  css-borders-4/Overview.bs
Labels: css-borders-4

#11697 [css-2025] Initial version based on last version of CSS 2024
  css-2025/Overview.bs
Labels: css-2025

#11750 [css-values-5] Tweaked attr() syntax, per WG resolution. #11034 #11035
  css-values-5/Overview.bs
Labels: css-values-5

#11720 [css-gaps-1] Fixes for gap intersection point definition and pairing algorithm.
  css-gaps-1/Overview.bs
  css-gaps-1/images/example-gap-intersection-grid.png
Labels: css-gaps-1

#11388 [css-grid-2][css-gaps-1][editorial] Namespace repeat() definitions. #11385
  css-gaps-1/Overview.bs
  css-grid-2/Overview.bs
Labels: css-grid-2, editorial, css-gaps-1

#11139 [css-backgrounds-4] Define background-repeat|position longhands with a logical property group
  css-backgrounds-4/Overview.bs
Labels: css-backgrounds-4

#11733 [CSS Pseudo 4] Remove the comment for resolved Issue #11011
  css-pseudo-4/Overview.bs
Labels: css-pseudo-4, css-color-5
