Repository w3c/csswg-drafts, pull requests merged in 2025-04, with the labels that each got.

#12067 [css-forms-1] Remove inline issue regarding color-swatch name
  css-forms-1/Overview.bs
Labels: css-forms-1

#12066 [css-forms-1] Add slider- prefix to slider pseudo-element names
  css-forms-1/Overview.bs
Labels: css-forms-1

#12051 [css-gaps-1] Use commas instead of slashes for `*-rule` shorthands. #11496
  css-gaps-1/Overview.bs
Labels: css-gaps-1

#12070 [css-values-5] All participants in a cycle become invalid
  css-values-5/Overview.bs
Labels: css-values-5
