Repository w3c/csswg-drafts, pull requests merged in 2025-06, with the labels that each got.

#12175 [css-borders-4] Define border/shadow rendering for `corner-shape`
  css-borders-4/Overview.bs
  css-borders-4/images/corner-shape-adjusting.svg
  css-borders-4/images/corner-shape-border.svg
  css-borders-4/images/corner-shape-target-unit-vector-bevel.svg
  css-borders-4/images/corner-shape-target-unit-vector-round.svg
Labels: css-borders-4

#12295 [css-shapes-2] Fix typo in link to css-shapes-1
  css-shapes-2/Overview.bs
Labels: css-shapes-2

#12293 [css-overflow-4][editorial] Minor phrasing tweak
  css-overflow-4/Overview.bs
Labels: css-overflow-4, editorial

#11984 [css-forms-1] Fix double borders
  css-forms-1/Overview.bs
Labels: css-forms-1

#11373 [css-ui-4] Clarify the applicability of the caret-* properties
  css-ui-4/Overview.bs
Labels: css-ui-4
